.wrap {
    position: relative;
    z-index: 3;
}


.main-section {
    &__inner {
        height: 100%;
    }

    &--kv {
        height: 100vh;

        .main-section__inner {
            position: relative;
        }

        &.active {

            .main-kv__text,
            .main-kv__right {
                transform: translateY(0);
                opacity: 1;
            }

            .main-kv__right--02 {
                transform: translateY(-50%) translateX(0%);
            }


            .label {
                animation: labelAnimation 1.34s forwards;
                animation-delay: 1.93s;

                &--01 {
                    animation-delay: 1.53s;
                }

                &--02 {
                    animation-delay: 1.41s;
                }

                &--03 {
                    animation-delay: 1.67s;
                }

                &--04 {
                    animation-delay: 1.36s;
                }

                &--05 {
                    animation-delay: 1.39s;
                }

                &--06 {
                    animation-delay: 1.43s;
                }

                &--07 {
                    animation-delay: 1.23s;
                }

                &--08 {
                    animation-delay: 1.485s;
                }

                &--09 {
                    animation-delay: 1.64s;
                }

                &--10 {
                    animation-delay: 1.42s;
                }
            }
        }
    }

    &--02 {
        padding: 250px 0;


        h2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100vh;
            font-size: 80px;
            font-weight: 700;
            line-height: 100px;
            color: #000;
            text-align: center;

            .section02__row--02 {
                margin-top: 20px;
            }

            >div {
                position: relative;

                span {
                    display: inline-block;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                }

                &:last-child {
                    span {
                        &::after {
                            transition-delay: 0.35s;
                        }
                    }
                }
            }

            &.active {
                >div {
                    span {
                        &::after {
                            width: 0;
                        }
                    }

                }
            }
        }
    }

    &--03 {
        position: relative;
        height: 100vh;
        overflow: hidden;


    }

    &--04 {
        position: relative;
        padding: 250px 0;
        background-color: #fff;

        h2 {
            margin-bottom: 150px;
            font-size: 70px;
            font-weight: 700;
            line-height: 1;
            color: #000;
        }
    }

    &--05 {
        padding: 250px 0;
        background-color: #eee;

        h2 {
            font-size: 80px;
            font-weight: 700;
            line-height: 100px;
            color: #000;
            text-align: center;
        }
    }

    &--06 {
        padding: 250px 0;

        h2 {
            font-size: 80px;
            font-weight: 700;
            line-height: 100px;
            color: #000;
            text-align: center;
        }
    }

    &--07 {
        padding: 165px 0;
        background: url(../images/main/main-banner.jpg) center / cover no-repeat;
        text-align: center;

        h2 {
            font-size: 60px;
            font-weight: 700;
            line-height: 80px;

        }

        .btn-wrap {
            margin-top: 60px;
        }
    }

    &--08 {
        position: relative;
        padding: 200px 0;
        background-color: #eee;
    }
}

.custom-pin-spacer {
    pointer-events: none;
}

.inner {
    height: 100%;
}

.main-kv {
    height: 100%;

    &__slide {
        position: relative;
        height: 100%;
        overflow: hidden;

        &.swiper-slide.swiper-slide-active {

            .main-kv__text,
            .main-kv__right {
                animation: textAni 1.2s ease forwards;
                animation-delay: 0.8s;
                transition: all 0.5s;
            }

            @keyframes textAni {
                0% {}

                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

        }

        &--01 {
            .main-kv__content {
                .inner {}

                h2 {
                    color: #fff;
                }
            }
        }
    }

    &__mobile {
        position: absolute;
        left: 50%;
        bottom: -24vh;
        transform: translateX(-50%) scale(0.7);
        transform-origin: bottom center;

        img {
            height: 45vh;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        .inner {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
        }

        h2 {
            position: relative;
            font-size: 100px;
            font-weight: 700;
            color: #fff;
        }

        .btn-wrap {
            display: flex;
            gap: 15px;
            margin-top: 40px;
            text-align: center;
        }
    }

    &__text {
        transform: translateY(100px);
        opacity: 0;
        transition: 0.8s ease;
        pointer-events: none;

        &--01 {
            line-height: 120px;
            transition-delay: 0.8s;
        }

        &--02 {
            line-height: 120px;
            transition-delay: 1.1s;
        }

        &--03 {
            transition-delay: 1.4s;
            pointer-events: all;
        }

        &--04 {
            transition-delay: 1.7s;
        }
    }

    &__right {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
        opacity: 0;
        transition: all 0.8s ease;
        transition-delay: 2s;
    }

    .swiper-slide-active {
        .main-kv__mobile {
            bottom: -23vh;
        }
    }

}

@keyframes fillBackground {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.text-gradient {
    display: inline-block;
    position: relative;
    // color: #fff;
    margin-right: -23px;
    padding: 0 10px 10px 10px;
    // background: linear-gradient(90deg, #8CD05F 0%, #56A1DE 77.25%);
    border-radius: 10px;
    transition: color 1s ease;

    &.highlight {
        color: #fff;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #8CD05F 0%, #56A1DE 77.25%);
            border-radius: 5px;
            color: #fff !important;
            z-index: -1;
            animation: fillBackground 1s forwards;
        }
    }

    &:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-radius: 5px;
        background: linear-gradient(90deg, #8CD05F 0%, #56A1DE 77.25%);
        transition: width 1s;
        
    }

    &.active {
        color: #fff;

        &::before {
            width: 100%;
        }
    }

    > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        background: linear-gradient(90deg, #8CD05F 0%, #56A1DE 77.25%);
    }


    // &--02 {
    //     transition-delay: 0.5s;

    //     &:before {
    //         transition-delay: 0.5s;
    //     }
    // }

    // &--03 {
    //     transition-delay: 1s;

    //     &:before {
    //         transition-delay: 1s;
    //     }
    // }

    // &--04 {
    //     transition-delay: 0.5s;

    //     &:before {
    //         transition-delay: 0.5s;
    //     }
    // }

    // &--05 {
    //     transition-delay: 1s;

    //     &:before {
    //         transition-delay: 1s;
    //     }
    // }
}

.label-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    .label {
        transform: scale(0);
        animation: labelHide 0.23s forwards;
    }

    &.ani {}
}

.label {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: absolute;
    transform: scale(0);
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    will-change: transform;

    // transition: 0.52s cubic-bezier(0.68, -0.3, 0.12, 1.6);
    &__icon {
        display: inline-flex;
        font-size: 0;
    }

    &__text {
        display: inline-flex;
        font-size: 15px;
        line-height: 1;
        color: #fff;
    }

    &--01 {
        top: -26%;
        left: 20%;
    }

    &--02 {
        top: -16%;
        right: 17%;
    }

    &--03 {
        top: 48%;
        left: -8%;
    }

    &--04 {
        top: 40%;
        left: 41%;
    }

    &--05 {
        top: 90%;
        right: -1%;
    }

    &--06 {
        top: -21%;
        left: 14%;
    }

    &--07 {
        top: -15%;
        right: 14%;
    }

    &--08 {
        top: 46%;
        left: -7%;
    }

    &--09 {
        top: 43%;
        left: 38%;
    }

    &--10 {
        top: 88%;
        right: -7%;
    }
}

@keyframes labelAnimation {
    0% {
        transform: scale(0);
    }

    40% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes labelHide {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.toggle-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}

.toggle-box {
    // transform: translateY(100px);
    // opacity: 0;
    // transition: 0.53s ease;
    // padding-top: calc(100vh *(55/1080));
    width: 100%;

    &.active {
        // transform: translateY(-500px);
        opacity: 1;
    }

    &__inner {
        display: flex;
        height: 970px;
        overflow: hidden;
    }

    &__item {
        flex: 1;
        position: relative;
        height: 100%;
        transition: 0.46s ease;

        &--01 {
            background: url(../images/main/toggle01.jpg) center / cover no-repeat;
        }

        &--02 {
            background: url(../images/main/toggle02.jpg) center / cover no-repeat;
        }

        &--03 {
            background: url(../images/main/toggle03.jpg) center / cover no-repeat;
        }



        h3 {
            font-size: 60px;
            font-weight: 700;
            color: #fff;
            opacity: 0.5;
            transition: 0.43s ease;

            div {
                span {
                    display: inline-block;
                    position: relative;

                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     bottom: -6px;
                    //     left: 0;
                    //     display: inline-block;
                    //     width: 0;
                    //     height: 1px;
                    //     background-color: #fff;
                    //     transition: 0.47s ease;
                    // }
                }

                &:nth-child(2) {
                    span {
                        &::before {
                            transition-delay: 0.23s;
                        }
                    }
                }
            }
        }

        ul {
            opacity: 0;
            visibility: hidden;
            transition: 0.43s ease;

            li {
                &:first-child {
                    margin-top: 0;
                }

                margin-top: 15px;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                color: #fff;
                opacity: 0.5;
            }
        }

        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 1;
            visibility: visible;
            transition: 0.24s ease;
        }

        &.active {
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: 600px;

            h3 {
                transform: translateY(-50px);
                opacity: 1;

                div {
                    span {
                        display: inline-block;

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }

            ul {
                opacity: 1;
                visibility: visible;

                li {
                    opacity: 1;
                }
            }

            &::before {
                opacity: 0;
                visibility: hidden;
            }

            .btn-wrap {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 80px 20px;
    }

    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }

    .btn-wrap {
        visibility: hidden;
        opacity: 0;
        transition: 0.33s ease;
    }
}

.scroll-area {
    position: relative;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    &__text {
        &--01 {
            position: absolute;
            left: 50%;
            font-size: 80px;
            font-weight: 700;
            line-height: 100px;
            color: #000;
            text-align: center;
            white-space: nowrap;

            span {
                display: inline-block;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.2);
                width: 800px;
                height: 300px;
                background: url(../images/main/section_logo.svg) center / auto no-repeat;
                opacity: 0.124;
                filter: blur(3px);
            }
        }
    }

    &__block {
        position: absolute;
        height: 50vh;
        background-color: #fff;
        overflow: hidden;

        &--top {
            top: 0;
            width: 100%;

            .parallax__text--01 {
                top: 100%;
                transform: translate(-50%, -50%);
            }
        }

        &--bottom {
            bottom: 0;
            width: 100%;

            .parallax__text--01 {
                bottom: 100%;
                transform: translate(-50%, 50%);
            }
        }
    }

    &__row {
        &--01 {
            transform: translateX(-100px);
            opacity: 0;
        }

        &--02 {
            transform: translateX(100px);
            opacity: 0;
        }

        &--03 {
            transform: translateX(-100px);
            opacity: 0;
        }
    }

    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: url(../images/main/parallax_bg.jpg) center / cover no-repeat;
        overflow: hidden;
    }

    &__content {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        opacity: 0;
        z-index: 2;

        h2 {
            font-size: 90px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
        }

        p {
            margin-top: 40px;
            font-size: 20px;
            line-height: 1.5;
            color: #fff;
        }

        .btn-wrap {
            position: relative;
            margin-top: 80px;
        }
    }
}

.news {

    &__container {
        ul {
            li {
                transform: translateX(-100px);

                margin-top: 150px;
                opacity: 0;
                visibility: hidden;
                transition: 0.73s ease;

                &.active {
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &__item {
        position: relative;
    }

    &__title {
        padding-bottom: 50px;
        border-bottom: 1px solid #000;
    }

    &__wrap {
        max-width: 940px;
        width: 100%;
    }

    &__date {
        font-size: 16px;
        font-weight: 400;
    }

    &__head {
        margin-top: 20px;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
    }

    &__content {
        padding-top: 30px;
    }

    &__para {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }

    &__image {
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}


.map {
    margin-top: 150px;
    text-align: center;
}

.map-thumb {
    margin-top: 80px;

    >ul {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;

        >li {
            width: calc((100% - 20px) / 4);
        }

        >ul {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            gap: 50px;
            padding: 14px 50px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 14px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    &__text {
        b {
            display: block;
            font-size: 18px;
            font-weight: 700;
        }

        span {
            display: block;
            margin-top: 5px;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #666;
        }
    }
}

.rolling {
    margin-top: 150px;

    &__row {
        position: relative;
        width: 100%;
        height: 185px;
        margin-top: 20px;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }
    }

    &__inner {
        display: flex;
        gap: 20px;
        position: absolute;
        white-space: nowrap;
    }

    &__item {
        flex: none;
    }
}


.number-mac {
    display: flex;
    justify-content: space-between;
    gap: 157px;

    &__left {
        flex-shrink: 0;
        flex-basis: 665px;
        padding: 50px 0;

        h2 {
            font-size: 80px;
            font-weight: 700;
            line-height: 100px;
        }
    }

    &__list {
        margin-top: 75px;
    }

    &__item {
        position: relative;
        padding: 35px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: 0.34s ease;
        }

        &.active {
            &::before {
                width: 100%;
            }

            .number-mac__title {
                background: linear-gradient(90deg, #8CD05F 0%, #56A1DE 77.25%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .number-mac__text {
                color: #000;
            }
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 245px;
    }

    button {
        width: 100%;
    }

    &__title {
        flex-shrink: 0;
        flex-basis: 210px;
        font-size: 80px;
        font-weight: bold;
        line-height: 1;
        color: #ccc;
        text-align: left;
    }

    &__text {
        flex-shrink: 0;
        flex-basis: 255px;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        color: #999;
        text-align: left;
    }

    &__right {
        flex: 1;
        border-radius: 20px;
        overflow: hidden;
    }
}

.recruit {
    &__content {
        color: #fff;
    }
}

footer {
    position: relative;
}

.footer-link {
    display: block;
    position: absolute;
    top: 44%;
    left: 6.7%;
    width: 150px;
    height: 100px;
}