.sub-sticky {}

.sub-section {
    // border: 1px solid;

    &--03 {
        height: 100vh;
        background-color: #eee;

        margin-top: -72px;

        .sub-section__inner {
            height: 100%;
        }

        .inner {
            height: 100%;
        }
    }

    &--04 {
        padding: 200px 0 0px;

        .sub-section__inner {
            display: flex;
            flex-direction: column;
        }

        .sub-section__top {
            margin-left: auto;
        }

        .sub-section__bottom {
            margin: 150px auto 0 auto;
        }

        .sub-section__gcard {
            margin-top: 50px;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &--05 {
        padding: 100px 0 250px;


        .sub-section__top {


            h2 {
                font-size: 60px;
                text-align: center;
                font-weight: 700;
                line-height: 1
            }
        }

        .sub-section__bottom {
            margin-top: 120px
        }
    }

    &--06 {
        padding: 250px 0 250px;
        background-color: #eee;

        .sub-section__top {
            h2 {
                font-size: 60px;
                text-align: center;
                font-weight: 700;
                line-height: 1
            }
        }

        .sub-section__bottom {
            margin-top: 120px;
        }
    }

    &--07 {
        padding: 250px 0 200px;

        .sub-section__top {
            h2 {
                font-size: 60px;
                text-align: center;
                font-weight: 700;
                line-height: 1
            }
        }

        .sub-section__bottom {
            margin-top: 120px;
            padding: 40px 0;
        }
    }
}

.sticky-area {
    position: relative;
}

.section-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    z-index: 1;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: unset;
    }

    &__inner {}
}

.lnb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
    }

    ul {
        display: flex;
        align-items: center;
        margin-left: 70px;
        gap: 50px;


        li {


            a {
                font-size: 16px;
                color: #666;
                position: relative;

            }

            &.active {
                a {
                    color: #000;
                    line-height: 70px;
                    font-weight: bold;
                }
            }
            
        }
    }
}

.lnb__bar {
    display: inline-block;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: #000;
    transition: all 0.34s ease;
}

.down-area {
    ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}


.sub-kv {
    position: relative;
    height: 100vh;

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding: 105px 0;
    }

    &__bg {
        position: relative;
        left: 0;
        top: 50%;
        bottom: 0;
        transform: translateY(-50%);
        overflow: hidden;
        width: 100%;
        height: 0%;

        &.aos-animate {
            height: 100%;
        }

        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            min-width: 100vw;
            height: auto;
            min-height: 100vh;
        }
    }

    &__content {
        text-align: center;

        h2 {
            span {
                font-size: 120px;
                font-weight: 600;
                line-height: 150px;
                color: #fff;
            }
        }
    }
}

.breadcrumb {
    display: inline-block;
    position: relative;
    margin-top: 40px;
    border-radius: 25px;
    background-color: #fff;
    z-index: 1;

    >ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;

        >li {
            display: inline-block;
            position: relative;
            padding-left: 4px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                content: '/';
                font-size: 18px;
                line-height: 1;
                color: #ddd;
            }

            >a {
                display: block;
                padding: 0 25px;
                background: url(../images/sub/icon_home.svg) center / auto no-repeat;
                font-size: 0;
                line-height: 50px;
            }

            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
    }

    &__toggle {
        position: relative;

        button {
            display: inline-block;
            padding: 0 25px;

            span {
                display: inline-block;
                position: relative;
                padding-right: 16px;
                font-size: 16px;
                font-weight: 700;
                line-height: 50px;

                &::after {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    content: '';
                    width: 8px;
                    height: 4px;
                    background: url(../images/sub/icon_arrow_black.svg) center/ auto no-repeat;
                    transition: 0.3s ease;
                }
            }
        }

        ul {
            display: none;
            position: absolute;
            top: 54px;
            left: 0;
            width: 100%;
            border-radius: 10px;
            background-color: #fff;

            li {
                a {
                    display: block;
                    padding: 10px 0;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }
}

.breadcrumb__toggle button.active span::after {
    transform: rotate(180deg);
}

.fullscreen {
    position: relative;
    height: 100vh;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;

        h2 {
            font-size: 80px;
            font-weight: 700;
            line-height: 100px;
            color: #fff;
            text-align: center;
        }

        p {
            margin-top: 50px;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #fff;
            text-align: center;
            opacity: 0;
        }
    }

    &__row {
        &--01 {
            transform: translateX(-100px);
            opacity: 0;
        }

        &--02 {
            transform: translateX(-100px);
            opacity: 0;
        }
    }
}

.sub-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1345px;
    height: 100%;
    margin: 0 auto;

    &__left {
        padding-top: 100px;

        h2 {
            background: linear-gradient(90deg, #FF7F40 0%, #6DBC37 100%);
            font-size: 80px;
            font-weight: 700;
            line-height: 100px;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            margin-top: 50px;
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__right {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

footer {
    position: relative;
}

.footer-link {
    display: block;
    position: absolute;
    top: 44%;
    left: 6.7%;
    width: 150px;
    height: 100px;
}


.sub-box {

    &__list {
        display: flex;
        cursor: pointer;

        li {
            height: 600px;
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            color: #fff;
            transition: all 0.35s ease;

            &::before {
                content: "";
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0);
                width: 100%;
                height: 100%;
                transition: 0.24s ease;
            }

            &:nth-child(1) {
                background-image: url(../images/sub/sub01.jpg);
                background-size: cover;
            }

            &:nth-child(2) {
                background-image: url(../images/sub/sub02.jpg);
                background-size: cover;
            }

            &:nth-child(3) {
                background-image: url(../images/sub/sub03.jpg);
                background-size: cover;
            }

            &:nth-child(4) {
                background-image: url(../images/sub/sub04.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &:hover {
                &::before {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.4);
                }

                .sub-box__text p {
                    opacity: 1;
                }

                .sub-box__text h3 {
                    color: rgba(255, 255, 255, 1);
                }

                flex-basis: 150px;
                flex-shrink: 0;
            }
        }
    }

    &__text {
        font-family: 'SUIT';

        position: absolute;
            bottom : 40px;

        h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
            position: relative;
            color: rgba(255, 255, 255, 1);
        }

        p {
            display: none;
            position: relative;
            width: 343px;
            margin-top: 25px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.33;
            transition: opacity 0.46s ease;
            z-index: 2;
            word-break: keep-all;
        }
    }
}

.text {
    color: black;
    transition: color 1s ease;
    position: relative;
    display: inline-block;
    padding: 10px 20px;

    &:before {
        content: "";
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: linear-gradient(90deg, #8CD05F 0%, #56A1DE 77.25%);
        border-radius: 5px;
        transition: width 1s;
        z-index: -1;
    }

    &.active {
        color: #fff;

        &::before {
            width: 100%;
        }
    }
}

.text2 {
    transition-delay: 1.5s;

    &:before {
        transition-delay: 1.5s;
    }

}

.text3 {
    transition-delay: 3s;

    &::before {
        transition-delay: 3s;
    }
}

.swiper {
    &--05 {
        .swiper-wrapper {
            padding: 40px 20px;
            width: 527px;
        }

        li {
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0px 4px 40px 0px rgba(4, 12, 29, 0.12);

            img {
                width: 527px;
            }
        }
    }
}

.marquee {
    display: flex;
    gap: 30px;

    >div {
        width: 527px;
        border-radius: 20px;
        box-shadow: 0px 4px 40px 0px rgba(4, 12, 29, 0.12);
    }
}