<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/head.html") %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include("./include/header.html") %>
                <main class="main">
                    <section class="main-section main-section--kv" data-header-color="white">
                        <div class="main-section__inner">
                            <div class="main-kv swiper">
                                <div class="swiper-wrapper">
                                    <div class="main-kv__slide main-kv__slide--01 swiper-slide">
                                        <div class="main-kv__bg" data-swiper-parallax="45%">
                                            <img src="../resources/assets/images/main/kv01.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__content">
                                            <div class="inner">
                                                <div class="main-kv__left">
                                                    <h2>
                                                        <div class="main-kv__text main-kv__text--01">세상에 없던</div>
                                                        <div class="main-kv__text main-kv__text--02">내 몸 사용설명서</div>
                                                        <div class="main-kv__text main-kv__text--03">젠톡에서 쉽고 편하게</div>
                                                    </h2>
                                                    <div class="btn-wrap main-kv__text main-kv__text--04">
                                                        <a href="javascript:;" class="btn btn-default btn-default--app btn-default--google">
                                                            <span class="btn-default__text">Google Play</span>
                                                        </a>
                                                        <a href="javascript:;" class="btn btn-default btn-default--app btn-default--apple">
                                                            <span class="btn-default__text">App Store</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="main-kv__right main-kv__right--01">
                                                    <img src="../resources/assets/images/main/kv01_img.png" alt="" />
                                                </div>
                                            </div>
                                            <!-- <div class="main-kv__mobile">
                                                <img src="../resources/assets/images/main/mobile.png" alt="" />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="main-kv__slide main-kv__slide--02 swiper-slide">
                                        <div class="main-kv__bg" data-swiper-parallax="45%">
                                            <img src="../resources/assets/images/main/kv02.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__content">
                                            <div class="inner">
                                                <div class="main-kv__left">
                                                    <h2>
                                                        <div class="main-kv__text main-kv__text--01">반려동물의 건강하고</div>
                                                        <div class="main-kv__text main-kv__text--02">행복한 삶을 위한</div>
                                                        <div class="main-kv__text main-kv__text--03">유전자 검사, 젠톡</div>
                                                    </h2>
                                                    <div class="btn-wrap main-kv__text main-kv__text--04">
                                                        <a href="javascript:;" class="btn btn-default btn-default--app btn-default--google">
                                                            <span class="btn-default__text">Google Play</span>
                                                        </a>
                                                        <a href="javascript:;" class="btn btn-default btn-default--app btn-default--apple">
                                                            <span class="btn-default__text">App Store</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="main-kv__right main-kv__right--02">
                                                    <img src="../resources/assets/images/main/kv01_img.png" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="scroll-down">
                                <span class="scroll-down__icon">Scroll Down</span>
                            </span>
                        </div>
                    </section>
                    <section class="main-section main-section--02" data-header-color="black">
                        <div class="main-section__inner">
                            <div class="inner">
                                <h2>
                                    <div class="section02__row section02__row--01">
                                        세계적 수준의
                                        <div class="text-gradient">서비스</div>
                                        를 제공하여<span></span>
                                    </div>
                                    <div class="section02__row section02__row--02">
                                        더
                                        <div class="text-gradient">건강</div>
                                        하고
                                        <div class="text-gradient">행복</div>
                                        한 삶을 만들어갑니다<span></span>
                                    </div>
                                </h2>
                                <div class="toggle-box">
                                    <div class="toggle-box__inner">
                                        <div class="toggle-box__item toggle-box__item--01">
                                            <div class="toggle-box__content">
                                                <div class="toggle-box__text">
                                                    <h3>
                                                        <div>
                                                            <span>Health Care</span>
                                                        </div>
                                                    </h3>
                                                    <ul>
                                                        <li>퍼스널 헬스케어</li>
                                                        <li>반려동물 헬스케어</li>
                                                    </ul>
                                                </div>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default not-cursor">
                                                        <span class="btn-default__text">View More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="toggle-box__item toggle-box__item--02">
                                            <div class="toggle-box__content">
                                                <div class="toggle-box__text">
                                                    <h3>
                                                        <div>
                                                            <span>Sequencing</span>
                                                        </div>
                                                    </h3>
                                                    <ul>
                                                        <li>연구분석</li>
                                                        <li>싱글셀</li>
                                                    </ul>
                                                </div>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default not-cursor">
                                                        <span class="btn-default__text">View More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="toggle-box__item toggle-box__item--03">
                                            <div class="toggle-box__content">
                                                <div class="toggle-box__text">
                                                    <h3>
                                                        <div>
                                                            <span>Clinical</span>
                                                        </div>
                                                        <div>
                                                            <span>Research</span>
                                                        </div>
                                                    </h3>
                                                    <ul>
                                                        <li>임상분석</li>
                                                        <li>싱글셀</li>
                                                    </ul>
                                                </div>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default not-cursor">
                                                        <span class="btn-default__text">View More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="scroll-area">
                        <div class="main-section parallax__bg">
                            <div class="parallax__content">
                                <h2>ESG 경영</h2>
                                <p>지속적인 기술 및 연구개발을 통한 인류의 건강한 삶에<br />기여하기 위해 ESG 전략을 수립하고 실천해 나가고 있습니다.</p>
                                <div class="btn-wrap">
                                    <a href="javascript:;" class="btn btn-default not-cursor">
                                        <span class="btn-default__text">View More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <section class="main-section main-section--03" data-header-color="black">
                            <div class="parallax">
                                <div class="parallax__block parallax__block--top">
                                    <div class="parallax__text--01">
                                        <div class="parallax__row parallax__row--01">
                                            <div class="text-gradient">인류</div>
                                            의 건강
                                        </div>
                                        <div class="parallax__row parallax__row--02">
                                            증진을 위해
                                            <div class="text-gradient">노력</div>
                                            하는
                                        </div>
                                        <div class="parallax__row parallax__row--03">마크로젠</div>
                                    </div>
                                </div>
                                <div class="parallax__block parallax__block--bottom">
                                    <div class="parallax__text--01">
                                        <div class="parallax__row parallax__row--01">
                                            <div class="text-gradient">인류</div>
                                            의 건강
                                        </div>
                                        <div class="parallax__row parallax__row--02">
                                            증진을 위해
                                            <div class="text-gradient">노력</div>
                                            하는
                                        </div>
                                        <div class="parallax__row parallax__row--03">마크로젠</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="main-section main-section--08" data-header-color="black">
                            <div class="main-section__inner">
                                <div class="inner">
                                    <div class="number-mac">
                                        <div class="number-mac__left">
                                            <h2>숫자로 보는<br />마크로젠</h2>
                                            <div class="number-mac__list">
                                                <ul>
                                                    <li class="number-mac__item active">
                                                        <button type="button">
                                                            <div class="number-mac__inner">
                                                                <div class="number-mac__title">No.1</div>
                                                                <div class="number-mac__text">
                                                                    국내 유전체 분석<br />
                                                                    시장점유율 1위
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </li>
                                                    <li class="number-mac__item">
                                                        <button type="button">
                                                            <div class="number-mac__inner">
                                                                <div class="number-mac__title">368+</div>
                                                                <div class="number-mac__text">글로벌 유전자 연구원</div>
                                                            </div>
                                                        </button>
                                                    </li>
                                                    <li class="number-mac__item">
                                                        <button type="button">
                                                            <div class="number-mac__inner">
                                                                <div class="number-mac__title">48%</div>
                                                                <div class="number-mac__text">해외매출 비중</div>
                                                            </div>
                                                        </button>
                                                    </li>
                                                    <li class="number-mac__item">
                                                        <button type="button">
                                                            <div class="number-mac__inner">
                                                                <div class="number-mac__title">148</div>
                                                                <div class="number-mac__text">한국인 표준 유전체<br />완성 등 논문 발표 수</div>
                                                            </div>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="number-mac__right">
                                            <div class="number-mac__image">
                                                <div class="number-mac__slider swiper">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <img src="../resources/assets/images/main/number01.jpg" alt="" />
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="../resources/assets/images/main/number02.jpg" alt="" />
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="../resources/assets/images/main/number01.jpg" alt="" />
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="../resources/assets/images/main/number02.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="main-section main-section--04" data-header-color="black">
                            <div class="main-section__inner">
                                <div class="inner">
                                    <div class="news">
                                        <h2>새로운 소식</h2>
                                        <div class="news__container">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;" class="news__item">
                                                        <div class="news__inner">
                                                            <div class="news__title">
                                                                <div class="news__wrap">
                                                                    <span class="news__date">2024.05.17</span>
                                                                    <h3 class="news__head">마크로젠-엠바이오랩, 장내 미생물 검사 ‘더바이옴’ 500건 공급 계약 체결</h3>
                                                                </div>
                                                            </div>
                                                            <div class="news__content">
                                                                <div class="news__wrap">
                                                                    <div class="news__para">
                                                                        글로벌 디지털 헬스케어 기업 마크로젠(대표 김창훈)이 인체 메커니즘에 기반한 영양제 연구 기업인 엠바이오랩(대표 권태훈)과 자사의 ‘더바이옴’ 마이크로바이옴(장내 미생물) 검사 서비스 공급 계약을 체결했다고 17일 밝혔다.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="news__image">
                                                            <img src="../resources/assets/images/main/news_thumb1.jpg" alt="" />
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="news__item">
                                                        <div class="news__inner">
                                                            <div class="news__title">
                                                                <div class="news__wrap">
                                                                    <span class="news__date">2024.05.13</span>
                                                                    <h3 class="news__head">국내 최대 건강 박람회 2024 서울헬스쇼 참가</h3>
                                                                </div>
                                                            </div>
                                                            <div class="news__content">
                                                                <div class="news__wrap">
                                                                    <div class="news__para">
                                                                        글로벌 디지털 헬스케어 기업 마크로젠(대표 김창훈)이 유전자/미생물검사 기반 헬스케어 플랫폼 ‘젠톡(GenTok)’ 서비스로 ‘2024 서울헬스쇼’에 참가한다고 밝혔다. 이번 행사는 동아일보 주최, 채널 A가 주관하는 행사로 서울시청 및 서울광장
                                                                        일대에서 14일(화)부터 16일(목)까지 개최되며, 국내 최초 유전자검사 서포터즈 ‘젠토커 1기’가 행사에 참여해 서울 시민들에게 ‘몸BTI’ 열풍을 불러온 ‘젠톡’을 소개한다.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="news__image">
                                                            <img src="../resources/assets/images/main/news_thumb2.jpg" alt="" />
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="news__item">
                                                        <div class="news__inner">
                                                            <div class="news__title">
                                                                <div class="news__wrap">
                                                                    <span class="news__date">2024.05.17</span>
                                                                    <h3 class="news__head">유전자검사로 한국전쟁 민간인 희생자 발굴 유해 신원 확인</h3>
                                                                </div>
                                                            </div>
                                                            <div class="news__content">
                                                                <div class="news__wrap">
                                                                    <div class="news__para">
                                                                        글로벌 디지털 헬스케어 기업 마크로젠(대표 김창훈)은 한국전쟁 당시 희생된 민간인들의 신원을 확인하기 위한 유전자검사에서 희생자 발굴 유해 2구의 신원 확인에 성공했다고 7일 밝혔다. 이번 연구는 70여 년이 지난 발굴 유해 유전자검사를
                                                                        성공적으로 완료한 것으로, 마크로젠이 보유하고 있는 ‘Human ID(휴먼아이디)’ 유해 감식 기술력과 노하우를 활용한 결과이다.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="news__image">
                                                            <img src="../resources/assets/images/main/news_thumb3.jpg" alt="" />
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <section class="main-section main-section--05" data-header-color="black">
                        <div class="main-section__inner">
                            <div class="inner">
                                <h2>세계 각지의 글로벌 네트워크를 통해<br />맞춤형 서비스를 제공합니다</h2>
                                <div class="map">
                                    <img src="../resources/assets/images/main/map.png" usemap="#image-map" />

                                    <map name="image-map" class="image-map">
                                        <area target="" alt="" title="" href="javascript:;" coords="8,102,53,148" shape="rect" class="area-uk" />
                                        <area target="" alt="" title="" href="javascript:;" coords="88,138,124,142,106,181,83,183" shape="poly" class="area-be" />
                                        <area target="" alt="" title="" href="javascript:;" coords="109,200,114,166,142,163,156,200" shape="poly" class="area-ch" />
                                        <area target="" alt="" title="" href="javascript:;" coords="141,119,131,155,166,172,178,128" shape="poly" class="area-mc" />
                                        <area target="" alt="" title="" href="javascript:;" coords="29,156,75,199" shape="rect" class="area-fr" />
                                        <area target="" alt="" title="" href="javascript:;" coords="54,200,99,243" shape="rect" class="area-de" />
                                        <area target="" alt="" title="" href="javascript:;" coords="12,237,52,279" shape="rect" class="area-es" />
                                        <area target="" alt="" title="" href="javascript:;" coords="118,214,166,269" shape="rect" class="area-it" />
                                        <area target="" alt="" title="" href="javascript:;" coords="201,175,250,227" shape="rect" class="area-yt" />
                                        <area target="" alt="" title="" href="javascript:;" coords="411,350,455,398" shape="rect" class="area-sg" />
                                        <area target="" alt="" title="" href="javascript:;" coords="469,194,515,241" shape="rect" class="area-kr" />
                                        <area target="" alt="" title="" href="javascript:;" coords="518,163,565,212" shape="rect" class="area-jp" />
                                        <area target="" alt="" title="" href="javascript:;" coords="818,161,864,212" shape="rect" class="area-us" />
                                        <area target="" alt="" title="" href="javascript:;" coords="916,444,961,496" shape="rect" class="area-mx" />
                                    </map>
                                </div>
                                <div class="map-thumb">
                                    <ul>
                                        <li>
                                            <div class="map-thumb__inner">
                                                <div class="map-thumb__image">
                                                    <img src="../resources/assets/images/main/thumb_map01.svg" alt="" />
                                                </div>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 강남본사</b>
                                                    <span>서울, 대한민국</span>
                                                </div>
                                            </div>
                                        </li>
                                        <ul>
                                            <li>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 지놈센터</b>
                                                    <span>서울, 대한민국</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 모델동물센터</b>
                                                    <span>서울, 대한민국</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 대전지사</b>
                                                    <span>대전, 대한민국</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 송도 글로벌 지놈센터</b>
                                                    <span>송도, 대한민국</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 세종캠퍼스</b>
                                                    <span>세종, 대한민국</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--06" data-header-color="black">
                        <div class="main-section__inner">
                            <h2>
                                세계적인 파트너들이<br />
                                마크로젠과 함께 합니다
                            </h2>
                            <div class="rolling">
                                <div class="rolling__row">
                                    <div class="rolling__box rolling__box--01">
                                        <div class="rolling__wrap">
                                            <div class="rolling__inner" data-direction="left">
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_01.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_02.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_03.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_04.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_05.svg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rolling__row">
                                    <div class="rolling__box rolling__box--02">
                                        <div class="rolling__wrap">
                                            <div class="rolling__inner" data-direction="right">
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_01.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_02.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_03.svg" alt="" />
                                                </div>

                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_05.svg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--07">
                        <div class="main-section__inner">
                            <div class="recruit">
                                <div class="recruit__content">
                                    <h2>
                                        혁신적인 디지털헬스케어의<br />
                                        미래를 함께 열어갈 인재를 찾습니다.
                                    </h2>
                                    <div class="btn-wrap">
                                        <a href="javascript:;" class="btn btn-default not-cursor">
                                            <span class="btn-default__text">View More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <div class="sub-section sub-section--mdf"><%- include("./include/footer.html") %></div>
            </div>
            <div class="cursor-layer">
                <div class="cursor-circle" id="cursorCircle">
                    <span>View More</span>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('img[usemap]').rwdImageMaps();
            });
        </script>
    </body>
</html>
