<!DOCTYPE html>
<html lang="en">
    <%- include("./include/head.html") %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include("./include/header.html") %>
                <main class="main">
                    <section class="main-section main-section--kv">
                        <div class="main-section__inner">
                            <div class="main-kv swiper">
                                <div class="swiper-wrapper">
                                    <div class="main-kv__slide swiper-slide">
                                        <div class="main-kv__bg" data-swiper-parallax="35%">
                                            <img src="../resources/assets/images/main/kv01.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__content">
                                            <div class="inner">
                                                <h2>
                                                    <div class="main-kv__text main-kv__text--01">세상에 없던 내 몸 사용설명서</div>
                                                    <div class="main-kv__text main-kv__text--02">젠톡에서 쉽고 편하게</div>
                                                    <div class="label-container">
                                                        <div class="label label--01">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_01.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Microbiome분석</span>
                                                        </div>
                                                        <div class="label label--02">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_02.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">TokTok한 건강관리</span>
                                                        </div>
                                                        <div class="label label--03">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_03.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Digital healthcare platform</span>
                                                        </div>
                                                        <div class="label label--04">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_04.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">몸BTI 건강관리 플랫폼</span>
                                                        </div>
                                                        <div class="label label--05">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_05.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">국내 최다 129종 서비스</span>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--google">
                                                        <span class="btn-default__text">Google Play</span>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--apple">
                                                        <span class="btn-default__text">App Store</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-kv__slide swiper-slide">
                                        <div class="main-kv__bg" data-swiper-parallax="35%">
                                            <img src="../resources/assets/images/main/kv02.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__content">
                                            <div class="inner">
                                                <h2>
                                                    <div class="main-kv__text main-kv__text--01">신속 정확한 유전체 분석 및</div>
                                                    <div class="main-kv__text main-kv__text--02">전문 컨설팅 서비스 제공</div>
                                                    <div class="label-container">
                                                        <div class="label label--06">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_06.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Microbiome분석</span>
                                                        </div>
                                                        <div class="label label--07">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_07.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">TokTok한 건강관리</span>
                                                        </div>
                                                        <div class="label label--08">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_08.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Digital healthcare platform</span>
                                                        </div>
                                                        <div class="label label--09">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_09.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">몸BTI 건강관리 플랫폼</span>
                                                        </div>
                                                        <div class="label label--05">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_10.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">국내 최다 129종 서비스</span>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--google">
                                                        <span class="btn-default__text">Google Play</span>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--apple">
                                                        <span class="btn-default__text">App Store</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--02">
                        <div class="main-section__inner">
                            <div class="inner">
                                <h2>
                                    세계적 수준의 서비스를 제공하여<br />
                                    더 건강하고 행복한 삶을 만들어갑니다
                                </h2>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--03">
                        <div class="main-section__inner"></div>
                    </section>
                </main>
                <%- include("./include/footer.html") %>
            </div>
        </div>
    </body>
</html>
