<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/head.html") %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include("./include/header.html") %>
                <main class="main">
                    <section class="main-section main-section--kv" data-header-color="black">
                        <div class="main-section__inner">
                            <div class="main-kv swiper">
                                <div class="swiper-wrapper">
                                    <div class="main-kv__slide main-kv__slide--01 swiper-slide">
                                        <div class="main-kv__bg" data-swiper-parallax="45%">
                                            <img src="../resources/assets/images/main/kv01.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__content">
                                            <div class="inner">
                                                <h2>
                                                    <div class="main-kv__text main-kv__text--01">세상에 없던 내 몸 사용설명서</div>
                                                    <div class="main-kv__text main-kv__text--02">젠톡에서 쉽고 편하게</div>
                                                    <div class="label-container">
                                                        <div class="label label--01">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_01.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Microbiome분석</span>
                                                        </div>
                                                        <div class="label label--02">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_02.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">TokTok한 건강관리</span>
                                                        </div>
                                                        <div class="label label--03">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_04.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">몸BTI 건강관리 플랫폼</span>
                                                        </div>
                                                        <div class="label label--04">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_03.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Digital healthcare platform</span>
                                                        </div>
                                                        <div class="label label--05">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_05.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">국내 최다 129종 서비스</span>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--google">
                                                        <span class="btn-default__text">Google Play</span>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--apple">
                                                        <span class="btn-default__text">App Store</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-kv__slide main-kv__slide--02 swiper-slide">
                                        <div class="main-kv__bg" data-swiper-parallax="45%">
                                            <img src="../resources/assets/images/main/kv02.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__content">
                                            <div class="inner">
                                                <h2>
                                                    <div class="main-kv__text main-kv__text--01">신속 정확한 유전체 분석 및</div>
                                                    <div class="main-kv__text main-kv__text--02">전문 컨설팅 서비스 제공</div>
                                                    <div class="label-container">
                                                        <div class="label label--06">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_06.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Microbiome분석</span>
                                                        </div>
                                                        <div class="label label--07">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_07.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">TokTok한 건강관리</span>
                                                        </div>
                                                        <div class="label label--08">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_08.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">Digital healthcare platform</span>
                                                        </div>
                                                        <div class="label label--09">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_09.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">몸BTI 건강관리 플랫폼</span>
                                                        </div>
                                                        <div class="label label--10">
                                                            <span class="label__icon">
                                                                <img src="../resources/assets/images/main/icon_label_10.svg" alt="" />
                                                            </span>
                                                            <span class="label__text">국내 최다 129종 서비스</span>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--google">
                                                        <span class="btn-default__text">Google Play</span>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-default btn-default--app btn-default--apple">
                                                        <span class="btn-default__text">App Store</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="scroll-down">
                                <span class="scroll-down__icon">Scroll Down</span>
                            </span>
                        </div>
                    </section>
                    <section class="main-section main-section--02" data-header-color="black">
                        <div class="main-section__inner">
                            <div class="inner">
                                <h2>
                                    <div class="section02__row section02__row--01">세계적 수준의 서비스를 제공하여<span></span></div>
                                    <div class="section02__row section02__row--02">더 건강하고 행복한 삶을 만들어갑니다<span></span></div>
                                </h2>
                                <div class="toggle-box">
                                    <div class="toggle-box__inner">
                                        <div class="toggle-box__item toggle-box__item--01">
                                            <div class="toggle-box__content">
                                                <div class="toggle-box__text">
                                                    <h3>
                                                        <div>
                                                            <span>Health</span>
                                                        </div>
                                                        <div>
                                                            <span>Care</span>
                                                        </div>
                                                    </h3>
                                                    <ul>
                                                        <li>연구분석</li>
                                                        <li>싱글셀</li>
                                                    </ul>
                                                </div>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default">
                                                        <span class="btn-default__text">View More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="toggle-box__item toggle-box__item--02">
                                            <div class="toggle-box__content">
                                                <div class="toggle-box__text">
                                                    <h3>
                                                        <div>
                                                            <span>Sequencing</span>
                                                        </div>
                                                    </h3>
                                                    <ul>
                                                        <li>연구분석</li>
                                                        <li>싱글셀</li>
                                                    </ul>
                                                </div>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default">
                                                        <span class="btn-default__text">View More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="toggle-box__item toggle-box__item--03">
                                            <div class="toggle-box__content">
                                                <div class="toggle-box__text">
                                                    <h3>
                                                        <div>
                                                            <span>Clinical</span>
                                                        </div>
                                                        <div>
                                                            <span>Research</span>
                                                        </div>
                                                    </h3>
                                                    <ul>
                                                        <li>연구분석</li>
                                                        <li>싱글셀</li>
                                                    </ul>
                                                </div>
                                                <div class="btn-wrap">
                                                    <a href="javascript:;" class="btn btn-default">
                                                        <span class="btn-default__text">View More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="scroll-area">
                        <div class="main-section parallax__bg">
                            <div class="parallax__content">
                                <h2>ESG 경영</h2>
                                <p>지속적인 기술 및 연구개발을 통한 인류의 건강한 삶에<br />기여하기 위해 ESG 전략을 수립하고 실천해 나가고 있습니다.</p>
                                <div class="btn-wrap">
                                    <a href="javascript:;" class="btn btn-default">
                                        <span class="btn-default__text">View More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <section class="main-section main-section--03" data-header-color="black">
                            <div class="parallax">
                                <div class="parallax__block parallax__block--top">
                                    <div class="parallax__text--01">
                                        <!-- <span></span> -->
                                        <div class="parallax__row parallax__row--01">인류의 건강</div>
                                        <div class="parallax__row parallax__row--02">증진을 위해 노력하는</div>
                                        <div class="parallax__row parallax__row--03">마크로젠</div>
                                    </div>
                                </div>
                                <div class="parallax__block parallax__block--bottom">
                                    <div class="parallax__text--01">
                                        <!-- <span></span> -->
                                        <div class="parallax__row parallax__row--01">인류의 건강</div>
                                        <div class="parallax__row parallax__row--02">증진을 위해 노력하는</div>
                                        <div class="parallax__row parallax__row--03">마크로젠</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="main-section main-section--04" data-header-color="black">
                            <div class="main-section__inner">
                                <div class="inner">
                                    <div class="news">
                                        <h2>새로운 소식</h2>
                                        <div class="news__container">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;" class="news__item">
                                                        <div class="news__inner">
                                                            <div class="news__title">
                                                                <div class="news__wrap">
                                                                    <span class="news__date">2024.05.17</span>
                                                                    <h3 class="news__head">마크로젠-엠바이오랩, 장내 미생물 검사 ‘더바이옴’ 500건 공급 계약 체결</h3>
                                                                </div>
                                                            </div>
                                                            <div class="news__content">
                                                                <div class="news__wrap">
                                                                    <div class="news__para">
                                                                        글로벌 디지털 헬스케어 기업 마크로젠(대표 김창훈)이 인체 메커니즘에 기반한 영양제 연구 기업인 엠바이오랩(대표 권태훈)과 자사의 ‘더바이옴’ 마이크로바이옴(장내 미생물) 검사 서비스 공급 계약을 체결했다고 17일 밝혔다.ㅇㅇ
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="news__image">
                                                            <img src="../resources/assets/images/main/news_thumb.jpg" alt="" />
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="news__item">
                                                        <div class="news__inner">
                                                            <div class="news__title">
                                                                <div class="news__wrap">
                                                                    <span class="news__date">2024.05.13</span>
                                                                    <h3 class="news__head">국내 최대 건강 박람회 2024 서울헬스쇼 참가</h3>
                                                                </div>
                                                            </div>
                                                            <div class="news__content">
                                                                <div class="news__wrap">
                                                                    <div class="news__para">
                                                                        글로벌 디지털 헬스케어 기업 마크로젠(대표 김창훈)이 유전자/미생물검사 기반 헬스케어 플랫폼 ‘젠톡(GenTok)’ 서비스로 ‘2024 서울헬스쇼’에 참가한다고 밝혔다. 이번 행사는 동아일보 주최, 채널 A가 주관하는 행사로 서울시청 및 서울광장
                                                                        일대에서 14일(화)부터 16일(목)까지 개최되며, 국내 최초 유전자검사 서포터즈 ‘젠토커 1기’가 행사에 참여해 서울 시민들에게 ‘몸BTI’ 열풍을 불러온 ‘젠톡’을 소개한다.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="news__image">
                                                            <img src="../resources/assets/images/main/news_thumb.jpg" alt="" />
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="news__item">
                                                        <div class="news__inner">
                                                            <div class="news__title">
                                                                <div class="news__wrap">
                                                                    <span class="news__date">2024.05.17</span>
                                                                    <h3 class="news__head">유전자검사로 한국전쟁 민간인 희생자 발굴 유해 신원 확인</h3>
                                                                </div>
                                                            </div>
                                                            <div class="news__content">
                                                                <div class="news__wrap">
                                                                    <div class="news__para">
                                                                        글로벌 디지털 헬스케어 기업 마크로젠(대표 김창훈)은 한국전쟁 당시 희생된 민간인들의 신원을 확인하기 위한 유전자검사에서 희생자 발굴 유해 2구의 신원 확인에 성공했다고 7일 밝혔다. 이번 연구는 70여 년이 지난 발굴 유해 유전자검사를
                                                                        성공적으로 완료한 것으로, 마크로젠이 보유하고 있는 ‘Human ID(휴먼아이디)’ 유해 감식 기술력과 노하우를 활용한 결과이다.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="news__image">
                                                            <img src="../resources/assets/images/main/news_thumb.jpg" alt="" />
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <section class="main-section main-section--05" data-header-color="black">
                        <div class="main-section__inner">
                            <div class="inner">
                                <h2>세계 각지의 글로벌 네트워크를 통해<br />맞춤형 서비스를 제공합니다</h2>
                                <div class="map">
                                    <img src="../resources/assets/images/main/map.png" alt="" />
                                </div>
                                <div class="map-thumb">
                                    <ul>
                                        <li>
                                            <div class="map-thumb__inner">
                                                <div class="map-thumb__image">
                                                    <img src="../resources/assets/images/main/thumb_map01.svg" alt="" />
                                                </div>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 강남본사</b>
                                                    <span>서울, 대한민국</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="map-thumb__inner">
                                                <div class="map-thumb__image">
                                                    <img src="../resources/assets/images/main/thumb_map02.svg" alt="" />
                                                </div>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 지놈센터</b>
                                                    <span>서울, 대한민국</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="map-thumb__inner">
                                                <div class="map-thumb__image">
                                                    <img src="../resources/assets/images/main/thumb_map03.svg" alt="" />
                                                </div>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 모델동물센터</b>
                                                    <span>서울, 대한민국</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="map-thumb__inner">
                                                <div class="map-thumb__image">
                                                    <img src="../resources/assets/images/main/thumb_map04.svg" alt="" />
                                                </div>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 대전지사</b>
                                                    <span>대전, 대한민국</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="map-thumb__inner">
                                                <div class="map-thumb__image">
                                                    <img src="../resources/assets/images/main/thumb_map05.svg" alt="" />
                                                </div>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 송도 글로벌 지놈센터</b>
                                                    <span>송도, 대한민국</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="map-thumb__inner">
                                                <div class="map-thumb__image">
                                                    <img src="../resources/assets/images/main/thumb_map06.svg" alt="" />
                                                </div>
                                                <div class="map-thumb__text">
                                                    <b>마크로젠 세종캠퍼스</b>
                                                    <span>세종, 대한민국</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--06" data-header-color="black">
                        <div class="main-section__inner">
                            <h2>
                                세계적인 파트너들이<br />
                                마크로젠과 함께 합니다
                            </h2>
                            <div class="rolling">
                                <div class="rolling__row">
                                    <div class="rolling__box rolling__box--01">
                                        <div class="rolling__wrap">
                                            <div class="rolling__inner" data-direction="left">
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_01.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_02.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_03.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_04.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee01_05.svg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rolling__row">
                                    <div class="rolling__box rolling__box--02">
                                        <div class="rolling__wrap">
                                            <div class="rolling__inner" data-direction="right">
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_01.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_02.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_03.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_04.svg" alt="" />
                                                </div>
                                                <div class="rolling__item">
                                                    <img src="../resources/assets/images/main/marquee02_05.svg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--07">
                        <div class="main-section__inner">
                            <div class="recruit">
                                <div class="recruit__content">
                                    <h2>마크로젠은 미래를 향해 함께 나아갈<br />인재들을 기다립니다</h2>
                                    <div class="btn-wrap">
                                        <a href="javascript:;" class="btn btn-default">
                                            <span class="btn-default__text">View More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <%- include("./include/footer.html") %>
            </div>
        </div>
        <script>
            $(function () {
                gsap.registerPlugin(ScrollTrigger);
                const arr = gsap.utils.toArray('.main-section');

                const tl2 = gsap.timeline({
                    scrollTrigger: {
                        trigger: '.main-section--02 h2',
                        start: 'center center',
                        end: '+=600%',
                        scrub: 1,
                        pin: '.main-section--02 h2',
                    },
                });

                tl2.to('.section02__row--01 span', {
                    width: '0%',
                    duration: 10,
                })
                    .to(
                        '.section02__row--02 span',
                        {
                            width: '0%',
                            delay: 15,
                            duration: 25,
                        },
                        '<'
                    )
                    .to('.section02__row--01', {
                        opacity: 0,
                        filter: 'blur(5px)',
                        duration: 30,
                    })
                    .to(
                        '.section02__row--02',
                        {
                            opacity: 0,
                            filter: 'blur(5px)',
                            duration: 30,
                        },
                        '<'
                    );

                const tl3 = gsap.timeline({
                    scrollTrigger: {
                        trigger: '.main-section--03',
                        start: 'center center',
                        end: '+=500%',
                        scrub: 1,
                        pin: true,
                        onEnter: () => {
                            document.querySelector('.main-section--03').parentNode.classList.add('custom-pin-spacer');
                        },
                    },
                });

                const tl4 = gsap.timeline({
                    scrollTrigger: {
                        trigger: '.parallax__bg',
                        start: 'center center',
                        endTrigger: '.main-section--04',
                        end: 'bottom bottom',
                        scrub: 1,
                        pin: true,
                    },
                });

                const tl5 = gsap.timeline({
                    scrollTrigger: {
                        trigger: '.toggle-box',
                        start: 'center bottom',
                        toggleClass: 'active',
                    },
                });

                const newsList = gsap.utils.toArray('.news__container ul li');

                newsList.forEach((item, index) => {
                    gsap.to(item, {
                        scrollTrigger: {
                            trigger: item,
                            start: 'top bottom-=300px',
                            onEnter: () => item.classList.add('active'),
                        },
                    });
                });

                tl3.to('.parallax__row--01', {
                    opacity: 1,
                    x: '0',
                    duration: 5,
                })
                    .to(
                        '.parallax__row--02',
                        {
                            opacity: 1,
                            x: '0',
                            duration: 5,
                        },
                        '<'
                    )
                    .to(
                        '.parallax__row--03',
                        {
                            opacity: 1,
                            x: '0',
                            duration: 5,
                        },
                        '<'
                    )
                    .to(
                        '.parallax__text--01 span',
                        {
                            opacity: 0,
                            duration: 5,
                            filter: 'blur(10px)',
                        },
                        '<'
                    )
                    .to('.parallax__block--top', {
                        y: '-50vh',
                        duration: 5,
                    })
                    .to(
                        '.parallax__block--bottom',
                        {
                            y: '50vh',
                            duration: 5,
                        },
                        '<'
                    )
                    .to(
                        '.parallax__block--top .parallax__text--01',
                        {
                            top: 'calc(100% + 100px)',
                            duration: 5,
                        },
                        '<'
                    )
                    .to(
                        '.parallax__block--bottom .parallax__text--01',
                        {
                            bottom: 'calc(100% + 100px)',
                            duration: 5,
                        },
                        '<'
                    )
                    .to(
                        '.parallax__content',
                        {
                            top: '50%',
                            transform: 'translate(-50%, -50%)',
                            opacity: 1,
                            duration: 5,
                        },
                        '<'
                    );
            });
        </script>
    </body>
</html>
