<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/sub_head.html") %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include("./include/sub_header.html") %>
                <div class="sub">
                    <section class="sub-section sub-section--kv">
                        <div class="sub-section__inner">
                            <div class="sub-kv">
                                <div class="sub-kv__bg" data-aos="spread-center" data-aos-duration="1500">
                                    <img src="../resources/assets/images/sub/sub_kv.jpg" alt="" />
                                </div>
                                <div class="sub-kv__inner">
                                    <div class="inner">
                                        <div class="sub-kv__content">
                                            <h2 data-aos="fade-up" data-aos-duration="1200"><span>Healthcare</span></h2>
                                            <div class="breadcrumb">
                                                <ul>
                                                    <li><a href="/">HOME</a></li>
                                                    <li>
                                                        <div class="breadcrumb__toggle">
                                                            <button type="button">
                                                                <span>퍼스널 헬스케어</span>
                                                            </button>
                                                            <ul>
                                                                <li><a href="javascript:;">퍼스널 헬스케어</a></li>
                                                                <li><a href="javascript:;">퍼스널 헬스케어</a></li>
                                                                <li><a href="javascript:;">퍼스널 헬스케어</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="breadcrumb__toggle">
                                                            <button type="button">
                                                                <span>건강관리 플랫폼,젠톡</span>
                                                            </button>
                                                            <ul>
                                                                <li><a href="javascript:;">건강관리 플랫폼,젠톡</a></li>
                                                                <li><a href="javascript:;">건강관리 플랫폼,젠톡</a></li>
                                                                <li><a href="javascript:;">건강관리 플랫폼,젠톡</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="scroll-down">
                                <span class="scroll-down__icon">Scroll Down</span>
                            </span>
                        </div>
                    </section>
                    <section class="sub-section sub-section--02">
                        <div class="sub-section__inner">
                            <div class="fullscreen">
                                <div class="fullscreen__bg">
                                    <img src="../resources/assets/images/sub/section02_bg.jpg" alt="" />
                                </div>
                                <div class="fullscreen__content">
                                    <h2>
                                        <div class="fullscreen__row fullscreen__row--01"><span>마크로젠의</span></div>
                                        <div class="fullscreen__row fullscreen__row--02"><span>퍼스널 헬스케어</span></div>
                                    </h2>
                                    <p>마크로젠의 퍼스널 헬스케어는 유전체 분석 기술을 바탕으로 개인 맞춤형 건강 관리 솔루션을 제공합니다.<br />우리의 서비스는 개인의 유전체 정보를 분석하여 건강 상태를 예측하고, 질병 예방 및 맞춤형 치료를 지원합니다.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="sticky-area">
                        <nav class="section-nav">
                            <div class="section-nav__inner">
                                <div class="inner">
                                    <div class="lnb">
                                        <span>건강관리 플랫폼, 젠톡</span>
                                        <ul>
                                            <li class="active"><a href="javascript:;" class="btn">젠톡소개</a></li>
                                            <li><a href="javascript:;" class="btn">주요특징</a></li>
                                            <li><a href="javascript:;" class="btn">서비스 이용과정</a></li>
                                            <li><a href="javascript:;" class="btn">활용사례</a></li>
                                        </ul>
                                    </div>
                                    <div class="down-area">
                                        <ul>
                                            <li>
                                                <a href="javascript:;" class="btn btn-default btn-default--app btn-default--google">
                                                    <span class="btn-default__text">Google Play</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="btn btn-default btn-default--app btn-default--apple">
                                                    <span class="btn-default__text">App Store</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <section class="sub-section sub-section--03 sub-sticky" data-header-color="black">
                            <div class="sub-section__inner">
                                <div class="inner">
                                    <div class="sub-banner">
                                        <div class="sub-banner__left">
                                            <h2>
                                                유전체 분석 기반<br />
                                                맞춤형 헬스케어<br />
                                                상담 서비스 젠톡
                                            </h2>
                                            <p>
                                                젠톡(GenTok)은 마크로젠이 제공하는<br />
                                                고유의 유전체 분석 기반 맞춤형 헬스케어 상담 서비스로, <br />
                                                개인의 유전자 정보를 종합적으로 분석하여 <br />
                                                건강 관리와 관련된 심도 있는 조언을 제공합니다.
                                            </p>
                                        </div>
                                        <div class="sub-banner__right">
                                            <img src="../resources/assets/images/sub/sub_banner.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="sub-section sub-section--04" data-header-color="black">
                            <div class="sub-section__inner">
                                <div class="sub-section__top">
                                    <img src="../resources/assets/images/sub/section04_01_temp.png" alt="" />
                                </div>
                                <div class="sub-section__bottom">
                                    <img src="../resources/assets/images/sub/section04_02_temp.jpg" alt="" />
                                </div>
                            </div>
                        </section>
                        <section class="sub-section sub-section--05 sub-sticky" data-header-color="black">
                            <div class="sub-section__inner">
                                <div class="inner">
                                    <div class="sub-section__top">
                                        <h2>주요특징</h2>
                                    </div>
                                    <div class="sub-section__bottom">
                                        <img src="../resources/assets/images/sub/section05_01_temp.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="sub-section sub-section--06 sub-sticky" data-header-color="black">
                            <div class="sub-section__inner">
                                <div class="inner">
                                    <div class="sub-section__top">
                                        <h2>서비스 이용과정</h2>
                                    </div>
                                    <div class="sub-section__bottom">
                                        <img src="../resources/assets/images/sub/section06_01_temp.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="sub-section sub-section--07 sub-sticky" data-header-color="black">
                            <div class="sub-section__inner">
                                <div class="sub-section__top">
                                    <h2>젠톡 사용후기</h2>
                                </div>
                                <div class="sub-section__bottom">
                                    <img src="../resources/assets/images/sub/section07_01_temp.png" alt="" />
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <%- include("./include/sub_footer.html") %>
            </div>
        </div>
        <script>
            $(function () {
                // const allSection = $('.sub-sticky');
                // let offsets = [];

                // allSection.each(function (index) {
                //     offsets.push($(this).offset().top);
                // });

                // $(window).on('scroll', function () {
                //     console.log($(window).scrollTop());
                // });

                $('.lnb ul li').on('click', function () {
                    $(this).addClass('active').siblings().removeClass('active');
                });

                // $('.lnb ul li').on('click', function () {
                //     const index = $(this).index();
                //     $('html, body').animate(
                //         {
                //             scrollTop: offsets[index] + 4205,
                //         },
                //         500
                //     );
                //     $(this).addClass('active').siblings().removeClass('active');
                // });

                // console.log(offsets);

                gsap.registerPlugin(ScrollTrigger);
                const tl1 = gsap.timeline({
                    scrollTrigger: {
                        trigger: '.sub-section--02',
                        start: 'center center',
                        end: '+=400%',
                        scrub: true,
                        pin: true,
                    },
                });
                tl1.to('.fullscreen__row--01', {
                    x: 0,
                    opacity: 1,
                })
                    .to('.fullscreen__row--02', {
                        x: 0,
                        opacity: 1,
                    })
                    .to('.fullscreen p', {
                        opacity: 1,
                    });
            });
        </script>
    </body>
</html>
